# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset files
*.xlsx
*.xls

# Machine Learning models
*.pkl
*.joblib
*.h5
*.keras

# Environment / secrets
.env
.streamlit/secrets.toml

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db